{% extends "base.html.twig" %}

{% block body %}
<html>
	<head>
		<title>Le voir, c'est le croire</title>
	</head>
	<body style="text-align:center">
		<div class="container">
			<h1 style="font-family: 'Arial'">Fusion de fichier CSV</h1>
			{{ form_start(form) }}
				{{ form_row(form.name) }}
				{{ form_row(form.name1) }}
			{{ form_end(form) }}
		</div>
	</body>
<html/>
{% endblock %}